.css-10vwi5d.e1tzin5v1{
  background-color: #854C94;
  border: 1px solid #1C0645;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;

}

.css-1e5lw08.e1tzin5v1{
  background-color: #854C94;
  border: 1px solid #1C0645;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;

}
.css-10mqmgh.e1s6o5jp0 {
  background-color: #1C0645;

  border-radius: 5px;
}

.css-10trblm.e16nr0p33 {
  background-color: #00633C;
  border: 1px solid #1C0645;
  padding: 1px 1px 1px 1px;
  border-radius: 10px;
  font-family: Helvetica;
  text-align: center;
  letter-spacing: 3px;
  color: black;
}
